<table *ngIf="subjectList.length">
  <thead>
  <tr>
    <td>#</td>
    <td>Subject name</td>
    <td>Day</td>
    <td>Time</td>
    <td>Audience</td>
    <td>Teacher</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let subject of subjectList; let index = index" [class.active]="subject === activeSubject"
      (click)="selectSubjectHandle(subject)">
    <td>{{index + 1}}</td>
    <td>{{subject.Name}}</td>
    <td>{{DAYS[subject.DayOfWeek]}}</td>
    <td>{{getData(subject.Time)}}</td>
    <td>{{subject.AudienceNumber}}</td>
    <td>{{subject.FullName}}</td>
  </tr>
  </tbody>
</table>

<div class="empty-block" *ngIf="!subjectList.length">
  This week is empty
</div>
