.title {
  margin-bottom: 1em;
  font-size: 16px;
}

.item {
  padding: .5em;
  cursor: pointer;
  transition: background-color .2s ease;
}

.item:hover {
  background-color: rgba(0,0,0,.1);
}

.item.active {
  background-color: rgba(0,0,0,0.34);
}
