/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0; font-family: 'Roboto', sans-serif;
  background-color: #F5F5F5;
}

.empty-block {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100%;
  font-size: 2em;
  color: #757575;
}

.mat-card-header .mat-card-title {
  font-size: 16px;
}
