<div class="grid">

  <mat-card class="sidebar">
    <mat-card-content class="content">
      <app-week-list [weekList]="weekList" (selectedWeek)="selectWeek($event)"></app-week-list>
    </mat-card-content>

    <div class="actions">
      <app-definition-week (saveWeek)="saveWeek($event)"></app-definition-week>
      <button mat-button (click)="deleteWeek()">REMOVE</button>
    </div>
  </mat-card>

  <mat-card class="block">
    <mat-card-header>
      <mat-card-title>List of subjects</mat-card-title>
    </mat-card-header>

    <mat-card-content class="content">
      <app-subject-list *ngIf="activeWeek" [subjects]="activeWeek.Subjects"></app-subject-list>
      <div class="empty-block" *ngIf="!activeWeek">Please select a week</div>
    </mat-card-content>
  </mat-card>
</div>
