<div class="grid">

  <mat-card class="sidebar">
    <mat-card-content class="content">
      <app-week-list [weekList]="weekList" (selectedWeek)="selectWeek($event)"></app-week-list>
      <div *ngIf="isLoadingWeek">Loading...</div>
    </mat-card-content>

    <div class="actions">
      <button mat-button (click)="createWeek()">CREATE WEEK</button>
      <button mat-button (click)="deleteWeek()">REMOVE</button>
    </div>
  </mat-card>

  <mat-card class="block">
    <mat-card-header>
      <mat-card-title>List of subjects</mat-card-title>
    </mat-card-header>

    <mat-card-content class="content subject-content">
      <app-subject-list *ngIf="activeWeek" [subjectList]="activeWeek.Subjects"
                        (selectedSubject)="selectSubject($event)">
      </app-subject-list>

      <div class="empty-block" *ngIf="!activeWeek">Please select a week</div>
    </mat-card-content>

    <div class="subject-actions">
      <button mat-button (click)="createNewSubject()" *ngIf="activeWeek">NEW SUBJECT</button>
      <button mat-button (click)="editSubject()" *ngIf="activeWeek">EDIT</button>
      <button mat-button (click)="removeSubject()" *ngIf="activeWeek">REMOVE</button>
    </div>
  </mat-card>
</div>
