<div class="title">Definition subject</div>
<div class="grid">
  <div class="fields-grid" *ngIf="subject">
    <mat-form-field>
      <input matInput placeholder="Subject name" [(ngModel)]="subject.name">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Day" [(ngModel)]="subject.dayOfWeek">
        <mat-option *ngFor="let day of DAYS; let index = index" [value]="index">{{day}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="time" placeholder="Time" [(ngModel)]="subject.time">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Audience" [(ngModel)]="subject.audienceNumber">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Teacher" [(ngModel)]="subject.FullName">
    </mat-form-field>
  </div>
  <button mat-button (click)="saveSubjectHandle()">Save</button>
</div>
